<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirigir todo a public/
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ public/$1 [L,QSA]
</IfModule>

<IfModule !mod_rewrite.c>
    DirectoryIndex public/index.php
</IfModule>
